streamlit
pymongo
numpy<2.0.0
dnspython
python-dotenv
pandas
altair
transformers
sentence-transformers
torch
PyPDF2
scikit-learn
plotly
matplotlib
PyMuPDF
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
arxiv
